*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url(bg img1.jpg);
}

.menu{
    width: 100%;
    background-image: url(background.jpg);
    background-position:center;

}
.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}
.icon{
    width: 200px;
    height: 70px;
    float: left;
}
.logo{
    color: orange;
    font-size: 35px;
    padding-left: 15px;
    padding-top: 10px;
    font-family: Arial;
    float: left;

}
.menu{
    width: 35px;
    height: 25px;
    float: left;

}
ul{
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    font-family: Arial;

}
ul li{

    list-style: none;
    margin-top: 25px;
    margin-left: 52px;
    font-size: 18px;

}
ul li a{
    text-decoration: none;
    color: blue;
    font-weight: bold;

}
ul li a:hover{
    color: green;

}
.search{
    width: 450px;
    height: 50px;
    float: left;
    margin-left: 650px;
    margin-top: 6px;
    margin-bottom: 5px;

}
.srch{
    width: 170px;
    height: 44px;
    margin-top: 15px;
    font-family: 'Times New Roman';
    background: transparent;
    border-radius:10px;
    border: 1px solid;
    font-size: 15px;
    float: left;
    color: black;
    
    
}
.btn{
    width: 80px;
    height: 44px;
    color:orange;
    font-size: 13px;
    border: 2px solid;
    margin-top: 14px;
    border-radius: 8px;
    border-color:orange;
    margin-bottom: none;

}
.content{
    width: 600px;
    height: auto;
    margin: auto;
    position: relative;

    
}
.content .par{
    padding: 20px;
    padding-bottom: 20px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;

}
.content h1{
    font-size: 50px;
    letter-spacing: 2px;
    

}
.content .ctn{
    width: 150px;
    height: 45px;
    background-color: orangered;
    color: black;
    margin-top: 8px;
    margin-top: 10px;
    border-radius: 10px;
    cursor: pointer;

}
.content span{
    color: orange;
    font-size: 50px;
}
 .content .ctn:hover{
    background-color:whitesmoke;
}
.form{
    width:250px;
    height:380px;
    left:800px;
    top:150px;
    position: absolute;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%, rgba(0,0,0,0.8)50%);
    border-radius: 10px;
    padding: 25px;

}
.form h2{
    width: 220px;
    border-radius: 10px;
    background-color:orange;
    text-align:center;
    padding: 8px;
    color:white;
    font-family: ;

}
.form input{
    width: 250px;
    height: 40px;
    border-bottom:1px  solid orange;
    border-top: none;
    background: transparent;
    color:white;
    border-left: none;
    border-right: none;
    margin-top: 5px;
    margin-bottom: 3px;
    letter-spacing: 1px;
    

}
.form .bt{
    width: 240px;
    height: 45px;
    background-color:orange;
    color:white;
    text-align: center;
    align-items: center;
    margin-top: 18px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.form .bt a{
    font-size: 20px;
    padding: 35px;
    width: 280px;

}
.form .link{
    padding-top:20px;
    text-align: center;
    font-family: Arial;
    font-size: 16px;
    color: white;
}
.form link a{
   text-decoration: none;
   text-align: center;
   margin-top:28px;
   margin-bottom: 25px;
   color: orange;
   

}

